<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/stylelist.css'/>




</head>
<!--加载AngularJS-->
<script src="/javascripts/angular.min1.5.7.js"></script>
<!--加载ECharts-->
<script src="/javascripts/echarts.min.js"></script>
<script src="/javascripts/line.js"></script>

<body onLoad="show()" ng-app="app" ng-controller="lineCtrl">



<div id="div1">
    <h1><%= title %></h1>
    <table id="tab1">
        <tbody>
        <tr>
            <th style="width:6%;">任务编号</th><th style=" width:30%;">任务名称</th><th style="width:5%;">故障次数</th><th style=" width:10%;">最后一次故障</th>
            <th style=" width:6%;">故障详单</th> <th style=" width:6%;">任务执行情况</th>
        </tr>
        <% for (i = 0; i < rows.length;i++){ %>

            <tr>
                <td><%= rows[i].task_id %></td>
                <td><%= rows[i].task_name %></td>
                <td><%= rows[i].faultnums %></td>
                <td><%= faultRows[i][0].faulttime %></td>
                <td>
                    <button type="button" onclick="window.location.href='/taskfaults/<%= rows[i].task_id %>?task_name=<%= rows[i].task_name %>';">故障明细</button>
                </td>
                <td>
                    <button type="button" onclick="window.location.href='/taskmonitorinfo/<%= rows[i].task_id %>?task_name=<%= rows[i].task_name %>';">任务执行</button>
                </td>

            </tr>
        <%  } %>

    </table>
</div>

<line id="main" legend="legend" item="item" data="data"></line>

<script>
    function show(){
        var otab = document.getElementById('tab1');

        for (var i = 1; i < otab.tBodies[0].rows.length; i++) {
            var s=otab.tBodies[0].rows[i];
            if(i%2==0){
                s.style.background ='rgba(220, 210, 210)';
            }else
                s.style.background = 'rgb(255, 255, 255)';
        }
    }
</script>
</body>

</html>
