<!DOCTYPE html>
<html>
<head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/stylelist.css'/>

</head>
<body onLoad="show()"  >
<div id="div1">
    <h1><%= title %> <button type="button" onclick="javascript:window.location.href='/';">返回</button></h1>

    <table id="tab1">
        <tbody>
        <tr>
            <th style="width:6%;">任务编号</th><th style="width:15%;">任务名称</th><th style=" width:6%;">可用率</th><th style="width:10%;">正确率</th><th style=" width:20%;">执行时间</th>
        </tr>
        <% rows.forEach(function(oneRow){ %>

            <tr>
                <td><%= oneRow.task_id %></td>
                <td><%= task_name %></td>
                <td><%= oneRow.availrate*100 %></td>
                <td><%= oneRow.correctrate*100 %></td>
                <td><%= oneRow.create_time %></td>
            </tr>
        <% }) %>

    </table>
</div>
<script>
    function show(){
        var otab = document.getElementById('tab1');

        for (var i = 1; i < otab.tBodies[0].rows.length; i++) {
            var s=otab.tBodies[0].rows[i];
            if(i%2==0){
                s.style.background ='rgba(220, 210, 210)';
            }else
                s.style.background = 'rgb(255, 255, 255)';
        }
    }
</script>
</body>

</html>
